## This file is part of Whonix.
## Copyright (C) 2012 - 2014 Patrick Schleizer <adrelanos@riseup.net>
## See the file COPYING for copying conditions.

Source: whonix-ws-kde-desktop-conf
Section: misc
Priority: optional
Maintainer: Patrick Schleizer <adrelanos@riseup.net>
Build-Depends: debhelper (>= 8), faketime, git
Homepage: https://github.com/Whonix/whonix-ws-kde-desktop-conf
Vcs-Browser: https://github.com/Whonix/whonix-ws-kde-desktop-conf
Vcs-Git: https://github.com/Whonix/whonix-ws-kde-desktop-conf.git
Standards-Version: 3.9.4

Package: whonix-ws-kde-desktop-conf
Architecture: all
Depends: plasma-widget-folderview, ${misc:Depends}
Description: KDE Desktop Settings for Whonix-Workstation
 Enables KDE folderview (allows desktop shortcuts) and sets Whonix-Workstation
 specific wallpaper.
